atomicwrites==1.2.1
attrs==18.2.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
docutils==0.14
dropbox==9.3.0
Flask==1.0.2
funcsigs==1.0.2
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
libsass==0.16.1
MarkupSafe==1.1.0
more-itertools==4.3.0
pathlib2==2.3.3
pluggy==0.8.0
py==1.7.0
pytest==4.0.2
requests==2.21.0
scandir==1.9.0
six==1.12.0
urllib3==1.24.2
Werkzeug==0.15.3
Whoosh==2.5.5
