{% extends "_layouts/_base.html" %}

{% block document %}
<div id="searchform">
    <h1>Encyclopedia</h1>
    <form role="search" action="/search">
        <div class="controls">
            <input class="form-control" type="search" name="q" autofocus>
            <center>
                <button type="submit">Search Encyclopedia</button>
            </center>
        </div>
    </form>
</div>
<script id="suggestions" type="json">
{{suggestions | tojson | safe}}
</script>
<script id="suggestion-template" type="text/x-handlebars-template">
{% raw %}
<div class="suggestion">
    <div>{{title}}</div>
    <p>{{{preview}}}</p>
</div>
{% endraw %}
</script>
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script src="/static/js/jquery-1.10.2.min.js"></script>
<script src="/static/js/typeahead.js"></script>
<script>
    var substringMatcher = function(suggestions) {
        return function findMatches(q, cb) {
            var matches, substrRegex;

            matches = [];

            substrRegex = new RegExp(q, 'i');

            $.each(suggestions, function(i, suggestion) {
                const str = suggestion.title;
                if (substrRegex.test(str)) {
                    matches.push({ title: str, preview: suggestion.preview });
                }
            });

            cb(matches);
        };
    };

    const text = $('#suggestions').text()
    const suggestions = JSON.parse(text);
    const templateText = $("#suggestion-template").html()
    const template = Handlebars.compile(templateText);
    console.log(template({title: 'x', preview: 'das'}))

    $('input').typeahead({
        hint: true,
        highlight: true,
        limit: 10,
        minLength: 1
    }, {
        name: 'anchors',
        displayKey: 'value',
        source: substringMatcher(suggestions),
        templates: {
            suggestion: template,
        }
    });

    $('input').bind('typeahead:beforeclose', function(event, data) {
      event.preventDefault()
    })
</script>
{% endblock %}
